@media screen and (max-width: 1166px) {

/* HEADER */
    header {
        width: 100%;
        height: 350px;
        padding-top: 10px;
        box-sizing: border-box;
        flex: none;
        background-image: url(../img/head-cont.png);
    }
    header .container{
        width: 704px;
    }
    header .container:first-child{
        width: 100%;
        margin: 0 auto;
        padding: 0 32px;
        box-sizing: border-box;
    }
    header .container h1{
        margin-top: 91px;
    }
    header .container p{
        width: 520px;
    }
/* MAIN */
    .main_block {
        width: 704px;
        margin: 64px auto 0;
        padding: 0 0;
    }

    .container_left{
    margin-top: none;
    }

    .container_right{
        width: 520px;
        height: 780px;
        margin: 64px 0;
        padding: 45px;
    }

    .maps{
        width: 100%;
        height: 392px;
        background-image: url(../img/maps.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        margin-bottom: 64px;
    }
/* FOOTER */
    footer .container {
      width: 704px;
      padding: 47px 0px;
      box-sizing: border-box;
  }

  footer h3 {
      margin: -16px 0 32px;
  }
  footer p {
      width: 336px;
      margin: 0;
  }
  footer .footer_button {
      width: 134px;
      height: 32px;
      margin-top: -115px;
  }

  footer ol {
      display: block;
  }
  footer li {
      padding-left: 59px;
  }
  footer li + li {
      margin-top: 26px;
  }
  footer li br {
      display: none;
  }

}
