html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
html * {
    max-height: 1000000px;
}


html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    flex-direction: column;
}
/* HEADER */
header {
    width: 100%;
    height: 768px;
    flex: none;
    padding-top: 34px;
    box-sizing: border-box;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
header .container{
    width: 1140px;
    margin: 0 auto;
}
header .container:first-child {
    display: flex;
    justify-content: space-between;
}

.container a {
    height: 48px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}
.logo {
    width: 46px;
    background-image: url('../img/logo.png');
}
.user {
    width: 34px;
    background-image: url('../img/user.png');
}

header .container:last-child{
    padding-top: 107px;
    box-sizing: border-box;
    height: 100%;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: right;
}
header .container:last-child div{
    width: 510px;
}

header h1{
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;

}
header .container p{
    width: 425px;
    opacity: 0.6;
    color: #1F3F68;
    padding-top: 32px;
}
header .button{
    padding-top: 71px;
}
.button a{
    width: 220px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-decoration: none;
}
/* MAIN */
main {
    width: 1140px;
    flex: 1 0 auto;
    margin: 64px auto;
}

h2{
    padding: 0;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;

}

.main_container_one{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 64px;
}

.main_block{
    width: 359px;
    height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    padding: 44px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center top;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 10px;
}
.one{
    background-image: url(../img/left-img.png);
}
.two{
    background-image: url(../img/center-img.png);
}
.three{
    background-image: url(../img/right-img.png);
}
.main_block h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-align: left;

}
.main_block a{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    background-image: url(../img/strelka.png);
    background-position: 100px center;
    background-repeat: no-repeat;

}

.main_block p{
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    padding-top: 15px;
    padding-bottom: 28px;
}

.main_container_two{
    height: max-content;
    width: 1140px;
    display: grid;
    margin: 32px auto 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
}
.main_container_two h2{
    grid-column: 1/3;
}
.main_container_two p{
    grid-column: 1/3;
    grid-row: 2;
    width: 750px;
    margin-bottom: 32px;
    text-align: center;
}
.main_container_two .top{
    width: 100%;
    height: 480px;
    grid-column: 1/3;
    grid-row: 3;
    background-image: url(../img/top-imgg.png);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 64px;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: right;
    letter-spacing: 0.05em;
    box-sizing: border-box;
}
.main_container_two .left{
    width: 100%;
    height: 417px;
    background-image: url(../img/left-imgg.png);
    border: 1px solid transparent;
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 4;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 32px;
    box-sizing: border-box;

}
.main_container_two .right{
    width: 100%;
    height: 417px;
    background-image: url(../img/right-imgg.png);
    border: 1px solid transparent;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 4;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 32px;
    box-sizing: border-box;
}
/* FOOTER */
footer {
    width: 100%;
    flex: 0 0 auto;
    background: #316099;
    color: #fff;
}

footer section + section {
    border-top: 2px solid rgba(255,255,255,0.4);
}
footer .container {
    width: 1140px;
    padding: 64px 0;
    margin: 0 auto;
}
footer h3 {
    width: 336px;
    margin: 27px 0;
    text-align: left;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
}
footer p {
    width: 480px;
    margin: 32px 0;
    opacity: 0.6;
}

footer ol {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
footer li {
    flex: 0 0 316px;
    padding-left: 42px;
    position: relative;
}
footer li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: 'T.';
}
footer li:first-child::before {
    content: 'A.';
}
footer li:last-child::before {
    content: 'E.';
}
footer .footer_button {
    width: 236px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: -160px;
    color: #fff;
    background: #5a98d0;
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
    text-decoration: none;
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}






