@media screen and (max-width: 721px) {

    /* HEADER */
    header {
        height: 376px;
        padding-top: 16px;
    }
    header .container{
        width: 340px;
        margin: 0 auto;
    }
   header .container:first-child{
       width: 100%;
       box-sizing: border-box;
       margin: 0 auto;
       padding: 0 16px;
   }
    header .container h1{
        color: #FFFFFF;
        margin-top: 74px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.04em;
    }

    header .container p{
        width: 341px;
        padding-top: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.6);
    }

/* MAIN */
    .main_block {
        width: 343px;
        margin: 46px auto 32px;
        padding: 0 0;
    }

    .container_left{
        margin-top: none;
        }

        .container_right{
            width: 343px;
            height: 514px;
            margin: 32px 0 0;
            padding: 36px;
        }
        .container_right h3{
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
        }
        h5{
            font-weight: 500;
            line-height: 10px;
            font-weight: 400;
            font-size: 14px;

          }

          .container_right h5:first-of-type{
              margin-top: 36px;
          }
          .container_right h5:nth-of-type(2), .container_right h5:last-of-type{
              margin-top: 21px;
          }

        input[type='email'], input[type='text']{
            width: 272px;
            min-height: 47px;
            padding: 0 0 0 22px;
            margin-top: 5px;
            font-size: 14px;
        }

        textarea{
          width: 272px;
          min-height: 93px;
          padding: 13px 0 0 22px;
          margin-top: 5px;
          font-weight: 300;
          font-size: 14px;
          line-height: 30px;
        }

        textarea::placeholder, input::placeholder{
          font-size: 14px;
        }

      input[type=submit]{
          width: 272px;
          height: 47px;
          margin-top: 46px;
      }

        .maps{
            width: 100%;
            height: 349px;
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            margin-bottom: 32px;
        }
/* FOOTER */
    footer .container {
        width: 340px;
        margin: 0 auto;
        padding: 32px 0px;
        box-sizing: border-box;
        text-align: center;
    }

    footer h2 {
        text-align: center;
    }

    footer h3 {
        width: 100%;
        margin: -14px 0 32px;
        box-sizing: border-box;
        padding: 0 50px;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }
    footer p {
        width: 100%;
    }
    footer .footer_button {
          width: 108px;
        height: 31px;
        float: none;
        margin: 40px auto 8px;
    }
    footer li {
        padding-left: 39px;
    }
    footer li + li {
        margin-top: 18px;
    }
    footer li br {
        display: inline;
    }
    footer li::before {
        display: block;
        position: absolute;
        left: 16px;
        top: 0;
        content: '2.';
    }
    footer li:first-child::before {
        content: '1.';
    }
    footer li:last-child::before {
        content: '3.';
    }
    .copy {
        margin-top: 32px;
    }
}
